<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>RadioStationHub</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "datatables/media/css/jquery.dataTables" %>
    <%= stylesheet_link_tag "bootstrap/dist/css/bootstrap" %>
    <%= stylesheet_link_tag "growl/jquery.growl.css" %>
    <%= stylesheet_link_tag "main"%>
    
    <!-- endbuild -->
  </head>
  <body>

    <!--HEADER
    <div class="container">
        <div class='col-xs-12 col-md-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8'>
          <div class="jumbotron">
            <h2>onda</h2>
            <h4>RadioStationHub</h4>      
          </div>
        </div>
    </div>-->

    <!--TABLE-->
    <div class="container-fluid">
        <div class='row'>
            <div class='col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8'>
                  	<!--<div class="table-responsive">-->
                	   <table id='tabla' class='table table-hover table-bordered'>
                	   	<thead>
                	   		<tr>
                		   		<th>NAME</th>
                		   		<th>PLAY</th>
                		   		<th>EDIT  DELETE</th>
                	   		</tr>
                	   	</thead>
                	   	<tfoot>
                	   		<tr>
                		   		<th>NAME</th>
                		   		<th>PLAY</th>
                		   		<th>EDIT  DELETE</th>
                	   		</tr>
                	   	</tfoot>
                	   	<tbody>
                	   	</tbody>
                	   </table>
                   <!--</div>-->
           </div>
       </div>
        <div class='row'>
            <div class='col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8'>
                <button type="button" class="btn btn-warning btn-size-add" id='addBtn'><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Radio</button>
            </div>
        </div>       
   </div>



<!-- Modal ADD RADIO STATION-->
<div id="modalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add radio station</h4>
            </div>

            <div class="modal-body">
               <!--FORM ADD RADIO-->
               <form id='addForm' novalidate>
                   <div class='form-group'>
                       <label for='addRadioName'>Name</label>
                       <input type="text" class="form-conntrol" id='addRadioName' name='addRadioName' placeholder='Name'>
                   </div>
                   <div class='form-group'>
                       <label for='addRadioUrl'>Source</label>
                       <input type="url" class="form-conntrol" id='addRadioUrl' name='addRadioUrl' placeholder='Url'>
                   </div>
                   
               </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="addSubmit">Submit</button>
            </div>
        </div><!--modalcontent-->

    </div><!--modaldialog-->
</div><!--modalfade-->


<!-- Modal EDIT RADIO STATION-->
<div id="modalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit radio station</h4>
            </div>

            <div class="modal-body">
               <!--FORM ADD RADIO-->
               <form id='editForm'>
                   <div class='form-group'>
                       <label for='name'>Name</label>
                       <input type="text" class="form-conntrol" id='editName'>
                   </div>
                   <div class='form-group'>
                       <label for='url'>source</label>
                       <input type="url" class="form-conntrol" id='editUrl'>
                   </div>
                   
               </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="editSubmit">Submit</button>
            </div>
        </div><!--modalcontent-->

    </div><!--modaldialog-->
</div><!--modalfade-->


<!-- Modal DELETE RADIO STATION-->
<div id="modalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete radio station</h4>
            </div>

            <div class="modal-body">
               <!--FORM ADD RADIO-->
               <form id='addForm'>
                   <p>Esta estacion se va a borrar, ¿estas seguro?
               </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="confirmDelete">Delete</button>
            </div>
        </div><!--modalcontent-->

    </div><!--modaldialog-->
</div><!--modalfade-->

    <%= javascript_include_tag "jquery/dist/jquery" %>
    <%= javascript_include_tag "datatables/media/js/jquery.dataTables" %>
    <%= javascript_include_tag "bootstrap/dist/js/bootstrap" %>
    <%= javascript_include_tag "growl/jquery.growl" %>
    <%= javascript_include_tag "jquery.validate.min" %>
    <%= javascript_include_tag "main" %>
</body>
</html>
