<h1>New Radio</h1>
<%= form_for :radio, url: radios_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </p>

  <p>
    <%= f.label :"Radio Source" %><br>
    <%= f.text_field :source %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
